/* Reset general */
* { box-sizing: border-box; }

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', sans-serif;
    display: flex; /* Esto pone los elementos uno al lado del otro */
    overflow: hidden;
}

#sidebar {
    width: 350px; /* Ancho de la barra */
    height: 100vh;
    background: #2c3e50;
    color: white;
    padding: 25px;
    z-index: 10;
    box-shadow: 4px 0 10px rgba(0,0,0,0.3);
    overflow-y: auto;
}

#map {
    flex-grow: 1; /* Esto hace que el mapa tome todo el espacio sobrante */
    height: 100vh;
    background-color: #f0f0f0;
}

/* Estilos de botones y textos */
.menu-secciones button {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    background: #34495e;
    color: white;
    border: 1px solid #5d6d7e;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    transition: 0.3s;
}

.menu-secciones button:hover {
    background: #1abc9c;
}

#info-suelo {
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 8px;
    border: 1px dashed #7f8c8d;
    line-height: 1.5;
}

.btn-ficha {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background: #27ae60;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}